* {
	margin: 5;
	padding: 5;
}
body {
    font-family:'Segoe UI'; 
    background:url(images/bg.jpg); 
    width: auto;
}

h1 {
    font-size: 50px;
    color: rgb(0, 255, 98); 
}

h1:hover {
    text-decoration: underline;
    color: white;
}

h2 {
    text-align: center;
}

h2:hover {
    text-decoration: underline;
    color: aliceblue;
}

td:hover {
    color:aliceblue;
    text-decoration:none;
}
a:hover {
    text-decoration: underline;
}
p:hover {
    color:aliceblue;
    text-decoration:none;
}

#wrapper{
    width:980px; 
    margin:auto;

}
    
#container{
    padding:0px; 
    background: rgb(36, 36, 36); 
    float:right;
    margin-top:10px; 
    margin-bottom:10px;
    -webkit-border-radius:4px;
    border-radius: 0px;
    
}      
    
#wrapper #content{
    padding-left: 20px;
    width:655px; 
    float:right; 
    padding:10px;
    color: #DFDFDF;
}
    
#wrapper #content #single{
    width: 615px; 
    margin:5px;  
    padding-left: 25px;
    padding-bottom: 20px;
    font-size: 18px;
    float:left; 
    overflow:auto;
    border-bottom: solid thin white;
}
      
#wrapper #content #single h2{ 
    margin:0px;
    font-family:Cuprum; 
    font-size:18px; 
    padding:5px; 
    border:#DFDFDF 1px solid; 
    background:#EEEEEE; 
    margin-bottom:10px;
}  

#wrapper #sidebar{ 
    width:280px; 
    float:left;
    padding:10px;
    background: rgb(0, 255, 98);    
}

#wrapper #sidebar .widget{ 
    list-style:none;
    border-bottom: solid thin white;
    padding-bottom: 30px;
    
}
    
#wrapper #sidebar .widget ul{ 
    list-style:none;
    margin-left:-40px;
}

#wrapper #sidebar .widget li:hover{ 
    color:aliceblue;
    text-decoration:none;
}
    
.nama{
    list-style:none;
    background: rgb(63, 63, 63);
    text-align: center;
    padding: 10px;
    width: 280px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    border-bottom: solid thin #EEEEEE;
}

.nama:hover {
    text-decoration: underline;
}

.profesi{
    list-style:none;
    background: rgb(63, 63, 63);
    text-align: center;
    padding: 10px;
    width: 280px;
    font-size: 12px;
    color:white;
}

.profesi:hover {
    text-decoration: underline;
}

.contact {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #1d1d1d;;
}

.ability {
    margin-left: 5px;
}

.circle {
    width: 10px;
    height: 10px;
    margin: 5px 1px;
    background: rgb(36, 36, 36);
    border: solid thin transparent;
    border-radius: 100%;
    font-size: 15px;
    font-weight: 600;
    float: left;
    color: #FFFFFF;
    text-align: center;
}

.circleb {
    width: 10px;
    height: 10px;
    margin: 5px 1px;
    background: rgb(254, 255, 194);
    border: solid thin transparent;
    border-radius: 100%;
    font-size: 15px;
    font-weight: 600;
    float: left;
    color: #FFFFFF;
    text-align: center;
}

footer{
    font-size: 16px;
    text-align: center; 
    width:auto; 
    color:rgb(94, 94, 94);
}
        